<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">
  <Appenders>
    <Console name="CONSOLE">
      <!-- <PatternLayout pattern="%d [%t] %p %c - %m%n" /> -->
      <PatternLayout disableAnsi="false"
                     pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red bold, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue bold, TRACE=cyan} [%t] %style{%c}{cyan}: %highlight{%m}{FATAL=red bold, ERROR=red bold, WARN=yellow, INFO=reset, DEBUG=reset, TRACE=reset}%n${LOG_EXCEPTION_CONVERSION_WORD:-%xEx}" />
      <Filters>
        <RegexFilter regex=".*Unknown server event.*" onMatch="DENY" onMismatch="NEUTRAL" />
        <RegexFilter regex=".*Unhandled.*" onMatch="DENY" onMismatch="NEUTRAL" />
        <RegexFilter regex=".*Processing server event.*" onMatch="DENY" onMismatch="NEUTRAL" />
        <RegexFilter regex=".*Move tank.*" onMatch="DENY" onMismatch="NEUTRAL" />
      </Filters>
    </Console>
    <File name="MAIN" fileName="logs/main.log">
      <JsonTemplateLayout />
    </File>
    <File name="DEBUG_LOG" fileName="logs/debug.log">
      <PatternLayout pattern="%d [%t] %p %c - %m%n" />
    </File>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="CONSOLE" />
      <AppenderRef ref="MAIN" />
    </Root>

    <Logger name="jp.assasans.narukami" level="DEBUG" />
    <Logger name="jp.assasans.narukami.server.kdl" level="INFO" />
    <Logger name="jp.assasans.narukami.server.protocol" level="INFO" />
    <Logger name="jp.assasans.narukami.server.net" level="INFO" />
    <Logger name="jp.assasans.narukami.server.core.impl.EventScheduler" level="INFO" />
    <Logger name="jp.assasans.narukami.server.core.impl.NodeBuilder" level="INFO" />
    <Logger name="jp.assasans.narukami.server.dispatcher" level="INFO" />
    <Logger name="io.ktor.server.Application" level="WARN" />
    <Logger name="io.netty" level="INFO" />
  </Loggers>
</Configuration>
